.chat-box{
	position: fixed;
	right: 120px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	width: 300px;
}
.chat-head{
	width: inherit;
	height: 45px;
	background: rgba(0,0,0,0.7);
}
.chat-head h2{
	color: white;
	padding: 8px;
	display: inline-block;
	font-size: 20px;
}
.chat-head img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
.chat-body{
	height: 355px;
	width: inherit;
	overflow: auto;
	margin-bottom: 45px;
}
.chat-text{
	position: fixed;
	bottom: 0px;
	height: 47px;
	width: inherit;
	margin: 4px;
}
.chat-text textarea{
	width: 84%;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	border-radius: 35px;
	padding: 10px;
	resize: none;
}
.chat-text button{
	width: 12%;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	margin-bottom: 38px;
	margin-left: -8px;
	resize: none;
}
.chat-body, .chat-text{
	display: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.msg-send{
	/* cor verde da msg */
	background: #2ecc71;
	text-align: right;
	
}
.msg-receive{
	background: #3498db;
}
.msg-send, .msg-receive{
	width: 200px;
	padding: 5px 5px 5px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 30px;
	position: relative;
	color: white; 
	word-wrap: break-word;
}
.msg-receive:before{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -15px;
	top: 0px;
	transform: skewX(-8deg);
	transform: rotate(-90deg);
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	/* cor verde da msg */
	border-color: transparent transparent transparent #2ecc71;
	right: -15px;
	bottom: 0px;
	transform: skewX(-8deg);
	transform: rotate(-90deg);
}
.msg-receive:hover, .msg-send:hover{
	opacity: 0.9;
}
#enviar{
	border: none!important;
	background: rgba(0,0,0,0.0)!important;
	width: 40px!important; 
	height: 48px!important;
	color: #fff;
	margin-right: -6px!important; 
}
#enviar:hover{
	color: #d1001d;
}
#enviar:focus{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#inputMensagem{
	background: rgba(0,0,0,0.5)!important;
	color: white;
	min-height: 46px;
	overflow: hidden;
}

#inputMensagem:focus {
    outline: none;
}

#setaChat{
	color: #A0A8B2;
	background: rgba(0,0,0,0.0);
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 14px 34px 31px 266px;	
}
#setaChat:hover{
	color: #ECEDEF;
}
#setaChat:focus{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: royalblue; 
  border-radius: 10px;
}




/*.container {
  display: inline-block;
  cursor: pointer;
}*/
.bar1 {
		position: absolute;
		bottom: 20px;
	right: 47px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transition: 0.9s;
  transform: rotate(-45deg);
} 
.bar3 {
	position: absolute;
	right: 35px;
	bottom: 20px;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transition: 0.9s;
  transform: rotate(45deg);
}

.change .bar1 {
  -webkit-transform: rotate(-0deg) translate(50%, 50%);
  transform: rotate(0deg) translate(50%, 50%);
}
.change .bar3 {
  -webkit-transform: rotate(0deg) translate(50%, 50%);
  transform: rotate(0deg) translate(50%, 50%);
}

@media(max-width: 768px){
	.chat-box{
	position: fixed;
	right:2px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	width: 300px;
}

}