nav{
	background-color: #282828;
}

#sobre{
	margin-top: 400px;
	background-color:#282828;
	color:#000000;
	padding:150px 0;
	text-align:center;
	color:rgb(255, 255, 255);
}

#sobre p{
	font-size:18px;
	line-height:1.5;
}

#center{
	text-align: center;
}

#sobrecontent{
	font-size:50px;
	font-weight:200;
	letter-spacing: 1px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sobrecontent p{
	font-size:18px;
}

#sobrecontent ul li{
	font-size:14px;
    margin:0;
}

#explicacao{
	margin-top:150px;
	text-align: center;
}

#lista{
	padding:50px 0 50px 200px;
	padding-right:30px;
}

#footer{
    background-color: #077187;
    text-align: center;
}

.icon:hover{
    color:rgb(0,255,0);
}


@media(max-width: 768px){
	#sobre{
		margin-top:0;
	}
	#sobrecontent{
		margin-top:15px;
	}
	#lista{
      padding-left:5px;
	}
}